#header {
    position: relative;
    width: 100%;
    height: 119px;
}

#logo {
    text-align: center;
    display: block;
    margin: 0 auto;
}

#info {
    position: relative;
    width: 100%;
    height: 46px;
    background: #B82E02;
}

#tableInfo {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#city {
    position: relative;
    top: 70%;
    left: 5px;
}

.bigText {
    font-size: 26px;
}

.body {
    width: 100%;
    height: 250px;
}

#mainPhoto {
    height: 100%;
    width: 100%;
    background: url('../static/img/main.png');
    background-size: 100%;
}

#circle {
    position: relative;
    left: 10px;
    top: -35px;
	width: 180px;
	height: 180px;
	background: #B82E02;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
}
